<!doctype html>
<!--suppress JSUnresolvedLibraryURL -->
<html lang="en">
    {{ template "header" . }}
    <body>
        {{ template "nav" . }}

        <div class="container mt-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1>{{ .dashboard_title }}</h1>
                <button
                    id="refresh-btn"
                    class="btn btn-primary"
                    data-refresh-interval="{{ .refresh_interval }}"
                >
                    <i class="bi bi-arrow-clockwise"></i> Refresh
                    <span id="refresh-countdown"></span>
                </button>
            </div>

            <div id="mobile-items-list">
                {{ template "mobileItemList" .MobileItems }}
            </div>
        </div>

        {{ template "footer" . }}

    </body>
</html>
